body{
    background-image: url(../imagenes/mercalogo1.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}

@media screen and (max-width: 620px) {
   body{
    background-image: url(../imagenes/mercalogo3.png);
    background-position: center center;     
    background-repeat: no-repeat;
    background-attachment: fixed;    
    
} 

}